.profile-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.profile-upper-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-name-photo-container{
    display: flex;
    justify-content: space-between;
}

.profile-name-photo-container-left, .profile-followers-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.profile-name-photo-container-right{
    width: 100px;
}

.profile-lower-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.profile-posts-option-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.posts-option-item{
padding: 0.8rem 1.5rem;
border-bottom: 2px solid #2e2f2f;
width: 100%;
text-align: center;
}
.edit-profile-container{
    width: 100%;
    text-align: center;
    background-color: #101010;
    padding: 1rem;
    border-radius: 0.8rem;
    border: 2px solid #232424;
    cursor: pointer;
}
.edit-profile-container:hover{
    background-color: #2e2f2f;
    color: rgba(255, 255, 255, 0.827);
}
@media screen and (min-width: 500px)  {
    .profile-container{
        width: 50%;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .profile-container{
        width: 70%;
    }
  }
  


